<div class="modal hide fade todo-edit-modal">

    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close js-todo-edit-modal-close">&times;</button>
        <h3>Edit Item # {{id}}</h3>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="todo-name-field">Name</label>
                <div class="controls">
                    <input id="todo-name-field" type="text" class="todo-name-field" value="{{name}}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="todo-description-field">Description</label>
                <div class="controls">
                    <input id="todo-description-field" type="text" class="todo-description-field" value="{{description}}">
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn-primary btn-large js-todo-edit-modal-save" data-id="{{id}}">Save</a>
    </div>

</div>